<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Formulaż produktu</title>
    <meta http-equiv="Content-Type" content="text/html; charset UTF-8" />
</head>
<body>
    <h1>Formulaż</h1>
    <form action="#" th:action="@{/form}" th:object="${product}" method="post">
        <p>Nazwa: <input type="text" th:field="*{name}" /></p>
        <p>Cena: <input type="text" th:field="*{price}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
